<!DOCTYPE html>
<meta charset="utf-8">
<title>Redirection vers le tableau de bord…</title>
<meta http-equiv="refresh" content="0; URL=https://emplois.inclusion.beta.gouv.fr/dashboard/">
<link rel="canonical" href="https://emplois.inclusion.beta.gouv.fr/dashboard/">
