<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>La plateforme de l'inclusion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="title" content="La plateforme de l'inclusion">
    <meta name="description" content="La Plateforme dédiée à l'inclusion. Découvrez les outils qui portent l'inclusion au coeur de leur service. A chaque service, son objectif.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://inclusion.beta.gouv.fr">
    <meta property="og:title" content="La plateforme de l'inclusion">
    <meta property="og:description" content="La Plateforme dédiée à l'inclusion. Découvrez les outils qui portent l'inclusion au coeur de leur service. A chaque service, son objectif.">
    <meta property="og:image" content="https://inclusion.beta.gouv.fr/images/logo-plateforme-inclusion-meta.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://inclusion.beta.gouv.fr/">
    <meta property="twitter:title" content="La plateforme de l'inclusion">
    <meta property="twitter:description" content="La Plateforme dédiée à l'inclusion. Découvrez les outils qui portent l'inclusion au coeur de leur service. A chaque service, son objectif.">
    <meta property="twitter:image" content="https://inclusion.beta.gouv.fr/images/logo-plateforme-inclusion-meta.png">

    <link rel="shortcut icon" href="./../images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="./../stylesheets/app.css" />
  </head>

  <body id="top">
    <nav role="navigation" aria-label="Accès rapide" class="sr-only">
      <ul>
          <li><a href="#nav-primary">Aller au menu principal</a></li>
          <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <header class="s-header s-header--plateforme sticky-top" role="banner" id="header">
      <section class="s-header__container container">
        <div class="s-header__row row">
          <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center pr-0 pr-md-3">
            <a href="#top" class="s-header__logo-ministere"><img src="./../images/logo-ministere-emploi.svg" alt="Ministère de l'emploi"></a>
          </div>
          <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center px-0 px-md-3">
            <a href="/"/><img src="./../images/logo-plateforme-inclusion.svg" alt="La Plateforme de l'inclusion"></a>
          </div>
          <div class="s-header__col s-header__col--title col d-none d-lg-inline-flex d-lg-flex align-items-center justify-content-end">
            <span>Aide & assistance</span>
            <img src="./../images/picto-aide-assistance.svg" alt="Aide et assistance">
          </div>
        </div>
      </section>
    </header>

    <main id="main" role="main" class="s-main">

     <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/">Plateforme de l'inclusion</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Aide & assistance</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

      <section class="s-assistance-intro">
        <div class="s-assistance-intro__container container">
          <div class="s-assistance-intro__row row">
            <div class="s-assistance-intro__col s-assistance-intro__col--article col-12 col-lg-8 d-flex align-items-center px-4">
              <article>
                <h1 class="h1-hero"><strong>Aide & assistance</strong></h1>
                <p>Vous pouvez poser vos questions directement sur la communauté de l'inclusion</p>
              </article>
            </div>
            <div class="s-assistance-intro__col s-assistance-intro__col--aside col-12 col-lg-4 d-flex align-items-center">
              <aside>
                <p class="s-assistance-intro__col__cta">
                  <a href="https://communaute.inclusion.beta.gouv.fr/" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                    <span>Accéder à la communauté</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                    </svg>
                  </a>
                </p>
                <p class="m-0"><img src="./../images/logo-communaute.svg" alt="Le marché de l'inclusion" height="40"></p>
              </aside>
            </div>
          </div>
        </div>
      </section>

      <section class="s-assistance-aide">
        <div class="s-assistance-aide__container container">
          <div class="s-assistance-aide__row s-assistance-aide__row--header row">
            <div class="s-assistance-aide__col col-12">
              <h2 class="h2"><strong>Contacter le service concerné</strong></h2>
              <p>Sélectionnez la thématique associée à votre demande</p>
            </div>
          </div>
          <div class="s-assistance-aide__row s-assistance-aide__row--card row">
            <div class="s-assistance-aide__col s-assistance-aide__col--cards-title col-12 d-flex align-items-end justify-content-between">
              <div>
                <img src="./../images/logo-emplois.svg" alt="Les emplois de l'inclusion" height="50">
              </div>
            </div>
            <div class="s-assistance-aide__col s-assistance-aide__col--cards-grid col-12">
              <div class="s-assistance-aide__card s-assistance-aide__card--emplois">
                <div>
                  <img src="./../images/picto-chantier-user-incri.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=Inscription%20%5BNe%20pas%20modifier%20l%27objet%5D&body=%20Si%20votre%20demande%20concerne%20un%20mail%20non%20re%C3%A7u%20pensez%20%C3%A0%20v%C3%A9rifier%20vos%20dossiers%20spams%2Fnotifications%20et%20attendre%20au%20moins%201%20heure%20avant%20de%20nous%20contacter%20%0A%0APour%20les%20adresses%20e-mail%20%22orange.fr%22%20ou%20%22wanadoo.fr%22%20nous%20vous%20invitons%20%C3%A0%20v%C3%A9rifier%20vos%20courriers%20sur%20le%20portail%20d%27Orange.%20%0A____________________________________________________%20%0A%20%20%0AMerci%20de%20renseigner%20les%20informations%20ci-dessous%20%3A%20%0A%20%20%0A%20%20%0ASiret%20de%20votre%20organisation%20%3A%20%0A%20%20%0A%20%20%0APr%C3%A9cisez%20votre%20profil%20utilisateur%20%20%28Employeur%2FPrescripteur%2FOrienteur%2FDIRECCTE%2FCandidat%29%20%3A%20%0A%20%20%0A%20%20%0AAdresse%20e-mail%20utilis%C3%A9e%20sur%20le%20sit" rel="noopener" target="_blank" class="btn btn-link btn-block">Inscription</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
              <div class="s-assistance-aide__card s-assistance-aide__card--emplois">
                <div>
                  <img src="./../images/picto-chantier-pass.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=Gestion%20du%20PASS%20IAE%20%5BNe%20pas%20modifier%20l%27objet%5D&body=Merci%20de%20renseigner%20les%20informations%20ci-dessous%20%3A%20%0A%0ANum%C3%A9ro%20ID%20de%20votre%20organisation%20ou%20Siret%20%3A%20%0A%0AAdresse%20e-mail%20de%20votre%20compte%20utilisateur%20%3A%20%20%0A%0AAdresse%28s%29%20e-mail%20du%20ou%20des%20candidat%28s%29%20concern%C3%A9%28s%29%20par%20votre%20demande%20%3A%20%0A%0ANom%28s%29%20Pr%C3%A9nom%28s%29%20du%20ou%20des%20candidat%28s%29%20%3A%20%0A%0ANum%C3%A9ro%28s%29%20du%20ou%20des%20PASS%20IAE%20ou%20agr%C3%A9ments%20%3A%20%0A%0ADate%28s%29%20de%20d%C3%A9marrage%20du%20ou%20des%20contrat%28s%29%20%3A%20%0A%0ADescription%20de%20votre%20probl%C3%A8me%20%28pensez%20%C3%A0%20renseigner%20toutes%20les%20informations%20utiles%20pour%20l%27examen%20de%20votre%20dem" rel="noopener" target="_blank" class="btn btn-link btn-block">Pass IAE</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
              <div class="s-assistance-aide__card s-assistance-aide__card--emplois">
                <div>
                  <img src="./../images/picto-chantier-user-profil-candida.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=Gestion%20du%20profil%20candidat%20%5BNe%20pas%20modifier%20l%27objet%5D&body=Merci%20de%20renseigner%20les%20informations%20ci-dessous%3A%0A%20%0ANum%C3%A9ro%20ID%20de%20votre%20organisation%20ou%20Siret%20%3A%20%0A%0AAdresse%20e-mail%20de%20votre%20compte%20utilisateur%20%3A%20%0A%20%20%0AAdresses%20e-mail%20du%20ou%20des%20candidat%28s%29%20%3A%20%0A%0ANom%28s%29%20Pr%C3%A9nom%28s%29%20du%20ou%20des%20candidat%28s%29%20%3A%20%0A%0ADescription%20de%20votre%20probl%C3%A8me%20%28pensez%20%C3%A0%20renseigner%20toutes%20les%20informations%20utiles%20pour%20l%27examen%20de%20votre%20demande%29%20%3A%20%0A%0A-%20%0A-%20%0A-%20%0A" rel="noopener" target="_blank" class="btn btn-link btn-block">Gestion du profil candidat</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
              <div class="s-assistance-aide__card s-assistance-aide__card--emplois">
                <div>
                  <img src="./../images/picto-chantier-structure.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=Gestion%20de%20votre%20structure%20%5BNe%20pas%20modifier%20l%27objet%5D&body=Merci%20de%20renseigner%20les%20informations%20ci-dessous%3A%20%0A%20%20%0ANum%C3%A9ro%20ID%20de%20votre%20organisation%20ou%20Siret%20%3A%20%0A%0APr%C3%A9cisez%20votre%20profil%20utilisateur%20%28Prescripteur%20%2F%20Employeur%20%29%20%3A%20%0A%0AAdresse%20e-mail%20utilis%C3%A9e%20sur%20le%20site%20%3A%20%0A%0ADescription%20de%20votre%20probl%C3%A8me%20%28pensez%20%C3%A0%20renseigner%20toutes%20les%20informations%20utiles%20pour%20l%27examen%20de%20votre%20demande%29%20%3A%20%0A%0A-%0A-%0A-%0A" rel="noopener" target="_blank" class="btn btn-link btn-block">Votre structure</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
              <div class="s-assistance-aide__card s-assistance-aide__card--emplois">
                <div>
                  <img src="./../images/picto-chantier-precripteur.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=Habilitation%20de%20mon%20organisation%20%5BNe%20pas%20modifier%20l%27objet%5D&body=Le%20statut%20de%20prescripteur%20habilit%C3%A9%20est%20attribu%C3%A9%20%3A%0A%0A-%20Aux%20organisations%20qui%20figurent%20dans%20la%20liste%20nationale%20%3A%20https%3A%2F%2Fdoc.inclusion.beta.gouv.fr%2Fpourquoi-une-plateforme-de-linclusion%2Fqui-sont-les-differents-prescripteurs%2Fprescripteur-habilite%23liste-des-prescripteurs-habilites-en-national%0A%0A-%20Aux%20organisations%20qui%20disposent%20d%27un%20arr%C3%AAt%C3%A9%20pr%C3%A9fectoral%20qui%20porte%20mention%20de%20leur%20habilitation%20%C3%A0%20valider%20l%27%C3%A9ligibilit%C3%A9%20IAE%20d%27un%20candidat%0A%0A-%20Aux%20organisations%20qui%20travaillent%20pour%20le%20compte%20du%20Conseil%20D%C3%A9partemental%20dans%20le%20cadre%20du%20suivi%20des%20b%C3%A9n%C3%A9ficiaires%20du%20RSA%0A%0ASi%20vous%20souhaitez%20demander%20le%20statut%20de%20prescripteur%20habilit%C3%A9%20pour%20votre%20orga" rel="noopener" target="_blank" class="btn btn-link btn-block">Habilitation prescripteur</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
              <div class="s-assistance-aide__card s-assistance-aide__card--emplois">
                <div>
                  <img src="./../images/picto-chantier-utilsateur.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=Gestion%20de%20votre%20compte%20utilisateur%20%5BNe%20pas%20modifier%20l%27objet%5D&body=Merci%20de%20renseigner%20les%20informations%20ci-dessous%20%3A%0A%0ANum%C3%A9ro%20ID%20de%20votre%20organisation%20ou%20Siret%20%3A%20%0A%0AAdresse%20e-mail%20utilis%C3%A9e%20sur%20le%20site%20%3A%20%0A%0ADescription%20de%20votre%20probl%C3%A8me%20%28pensez%20%C3%A0%20renseigner%20toutes%20les%20informations%20utiles%20pour%20l%27examen%20de%20votre%20demande%29%20%3A%20%0A%0A-%0A-%0A-%0A%0A%0A%0A" rel="noopener" target="_blank" class="btn btn-link btn-block">Votre compte utilisateur</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
              <div class="s-assistance-aide__card s-assistance-aide__card--emplois">
                <div>
                  <img src="./../images/picto-chantier-renseignement.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=Demande%20de%20renseignements%20%5BNe%20pas%20modifier%20l%27objet%5D&body=Si%20votre%20demande%20ne%20comporte%20pas%20de%20donn%C3%A9es%20personnelles%20%28noms%2C%20num%C3%A9ros%E2%80%A6%29%2C%20nous%20vous%20invitons%20%C3%A0%20poser%20votre%20question%20%C3%A0%20la%20communaut%C3%A9%20de%20l%27inclusion%20%3A%20https%3A%2F%2Fforum.inclusion.beta.gouv.fr%2F%0A___________________________________________%0A%0AAdresse%20e-mail%20utilis%C3%A9e%20sur%20le%20site%20%3A%20%0A%0AVotre%20demande%20%20%3A%20%0A%0A-%20%0A-%20%0A-%20%0A%0A%20%20%0A" rel="noopener" target="_blank" class="btn btn-link btn-block">Demande de renseignements</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
              <div class="s-assistance-aide__card s-assistance-aide__card--emplois">
                <div>
                  <img src="./../images/picto-chantier-communaute.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=Autre%20[Ne%20pas%20modifier%20l’objet]&body=Si%20votre%20demande%20ne%20comporte%20pas%20de%20donn%C3%A9es%20personnelles%20%28noms%2C%20num%C3%A9ros%E2%80%A6%29%2C%20nous%20vous%20invitons%20%C3%A0%20poser%20votre%20question%20%C3%A0%20la%20communaut%C3%A9%20de%20l%27inclusion%20%3A%20https%3A%2F%2Fforum.inclusion.beta.gouv.fr%2F%0A___________________________________________%20%0A%0AAdresse%20e-mail%20utilis%C3%A9e%20sur%20le%20site%20%3A%0A%20%0AVotre%20demande%20%20%3A%20%0A%0A-%20%0A-%20%0A-%20%0A" rel="noopener" target="_blank" class="btn btn-link btn-block">Autre demande</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
              <div class="s-assistance-aide__card s-assistance-aide__card--emplois">
                <div>
                  <img src="./../images/picto-chantier-bug.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=BUG%20%5BNe%20pas%20modifier%20l%27objet%5D&body=Si%20vous%20utilisez%20le%20navigateur%20Internet%20explorer%2FEdge%2C%20nous%20vous%20invitons%20%C3%A0%20utiliser%20Google%20Chrome%20ou%20Firefox.%20Si%20cela%20ne%20permet%20pas%20de%20r%C3%A9soudre%20le%20probl%C3%A8me,%20compl%C3%A9tez%20cet%20e-mail%0A________________________________________%0A%0AMerci%20de%20renseigner%20les%20informations%20ci-dessous%20%3A%20%0A%20%20%0ANum%C3%A9ro%20ID%20de%20votre%20organisation%20ou%20Siret%20%3A%20%0A%0APr%C3%A9cisez%20votre%20profil%20utilisateur%20%28Prescripteur%20%2F%20Employeur%20%2F%20Candidat%29%20%3A%20%0A%0AAdresse%20e-mail%20utilis%C3%A9e%20sur%20le%20site%20%3A%20%0A%0ASur%20quelle%20page%20ou%20%C3%A0%20quelle%20%C3%A9tape%20rencontrez-vous%20ce%20probl%C3%A8me%20%3F%20%3A%20%0A%0ADescription%20de%20votre%20probl%C3%A8me%20%28pensez%20%C3%A0%20renseigner%20toutes%20les%20informations%20utiles%20pour%20l%27examen%20de%20votre%20demande%29%" rel="noopener" target="_blank" class="btn btn-link btn-block">Signaler un bug</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
            </div>
            <div class="s-assistance-aide__col s-assistance-aide__col--cards-title col-12 d-flex align-items-end justify-content-between">
              <div>
                <img src="./../images/logo-marche.svg" alt="Le marché de l'inclusion" height="50">
              </div>
            </div>
            <div class="s-assistance-aide__col s-assistance-aide__col--cards-block col-12">
              <div class="s-assistance-aide__card s-assistance-aide__card--marche">
                <div>
                  <img src="./../images/picto-chantier-structure-marche.svg" alt="" height="60">
                </div>
                <a href="mailto:lemarche@inclusion.beta.gouv.fr?body=Si%20votre%20demande%20ne%20comporte%20pas%20de%20donn%C3%A9es%20personnelles%20(noms%2C%20num%C3%A9ros%E2%80%A6)%2C%20nous%20vous%20invitons%20%C3%A0%20poser%20votre%20question%20%C3%A0%20la%20communaut%C3%A9%20de%20l'inclusion%20%3A%20https%3A%2F%2Fcommunaute.inclusion.beta.gouv.fr%2F%0A%20%0A---------------------------------%0A%20%0ANom%20Pr%C3%A9nom%20%3A%20%0A%20%0AAdresse%20e-mail%20utilis%C3%A9e%20sur%20le%20site%20%3A%20%0A%20%0ANum%C3%A9ro%20SIREN%20%20%3A%20%0A%0APr%C3%A9cisez%20votre%20profil%20utilisateur%20(Entreprise%20sociale%20inclusive%2C%20Acheteurs%20ou%20Partenaires)%20%3A%20%0A%20%0AVotre%20demande%20%20%3A%0A%0A-%0A%0A-%0A%0A-%20%0A%20%0A" rel="noopener" target="_blank" class="btn btn-link btn-block">Demande de renseignements ou questions à propos du marché de l'inclusion</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
            </div>
            <div class="s-assistance-aide__col s-assistance-aide__col--cards-title col-12 d-flex align-items-end justify-content-between">
              <div>
                <img src="./../images/logo-pilotage.svg" alt="Le pilotage de l'inclusion" height="50">
              </div>
            </div>
            <div class="s-assistance-aide__col s-assistance-aide__col--cards-block col-12">
              <div class="s-assistance-aide__card s-assistance-aide__card--pilotage">
                <div>
                  <img src="./../images/picto-chantier-renseignement-pilotage.svg" alt="" height="60">
                </div>
                <a href="mailto:assistance@inclusion.beta.gouv.fr?subject=Pilotage [Ne pas modifier l’objet] &body=Si%20votre%20demande%20ne%20comporte%20pas%20de%20donn%C3%A9es%20personnelles%20(noms%2C%20num%C3%A9ros%E2%80%A6)%2C%20nous%20vous%20invitons%20%C3%A0%20poser%20votre%20question%20%C3%A0%20la%20communaut%C3%A9%20de%20l'inclusion%20%3A%20https%3A%2F%2Fcommunaute.inclusion.beta.gouv.fr%2F%0A%0A---------------------------%0A%0APr%C3%A9cisez%20votre%20profil%20utilisateur%20(D%C3%A9partement%2C%20Dreets%2C%20Employeur%2C%20P%C3%B4le%20emploi%2C%20Prescripteur%2C%20R%C3%A9seau%2C%20Autre)%0A%20%0AVotre%20demande%20%20%3A%20%0A%0A-%20%0A%0A-%20%0A%0A-%20%0A" rel="noopener" target="_blank" class="btn btn-link btn-block">Demande de renseignements ou questions à propos du pilotage de l'inclusion</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                </svg>
              </div>
            </div>
          </div>
          <div class="s-assistance-aide__row s-assistance-aide__row--footer row">
            <div class="s-assistance-aide__col col-12">
              <h3>En cliquant sur les boutons votre messagerie doit s'ouvrir, <br class="d-none d-lg-inline">si ce n'est pas le cas utilisez notre formulaire de secours </h3>
              <p class="s-assistance-intro__col__cta">
                <a href="" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                  <span>Accéder au formulaire</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)" />
                  </svg>
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>

    </main>

    <%- include('.././_sections/footer', {pathDepth: './..'}) %>

    <script src="./../javascripts/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@1.9.3/tarteaucitron.js"></script>
    <script type="text/javascript">
      tarteaucitron.init({
      "privacyUrl": "", /* Privacy policy url */
      "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
      "cookieName": "tarteaucitron", /* Cookie name */
      "orientation": "bottom", /* Banner position (top - bottom) */
      "groupServices": false, /* Group services by category */
      "showAlertSmall": false, /* Show the small banner on bottom right */
      "cookieslist": false, /* Show the cookie list */
      "closePopup": false, /* Show a close X on the banner */
      "showIcon": true, /* Show cookie icon to manage cookies */
      //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
      "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */
      "adblocker": false, /* Show a Warning if an adblocker is detected */
      "DenyAllCta" : true, /* Show the deny all button */
      "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
      "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
      "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
      "removeCredit": true, /* Remove credit link */
      "moreInfoLink": true, /* Show more info link */
      "useExternalCss": true, /* If false, the tarteaucitron.css file will be loaded */
      "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
      //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
      "readmoreLink": "", /* Change the default readmore link */
      "mandatory": true, /* Show a message about mandatory cookies */
      });
    </script>
    <script type="text/javascript">
      tarteaucitron.user.googleFonts = ['Roboto', 'Covered By Your Grace'];
      (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
    </script>
  </body>

</html>
