//  margin-right: calc(50% - 50vw);

a:focus {
  outline: none;
}

figure {
  @extend .mb-0;
}

.btn-ico {
  span {
    @extend .d-inline-block;
    @extend .mr-1;
  }
}

.btn-primary {
  transition: $transition-base;
  &.hover,
  &:hover {
    color: $primary;
    background-color: $white;
    border-color: $primary;
  }

  &.focus,
  &y:focus {
    box-shadow: $box-shadow;
  }
}

h1 {
  font-weight: $font-weight-normal;
  font-size: $h2-font-size-xs;

  @include media-breakpoint-up(sm) {
    font-size: $h2-font-size-sm;
  }

  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}

h2 {
  font-weight: $font-weight-bolder;
  font-size: $h2-font-size-xs;

  @include media-breakpoint-up(sm) {
    font-size: $h2-font-size-sm;
  }

  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}
