//  margin-right: calc(50% - 50vw);

a:focus {
  outline: none;
}

figure {
  @extend .mb-0;
}

 .btn-ico {
    span {
      @extend .d-inline-block;
      @extend .mr-1;
    }
 }

h1 {
  line-height: 1;
  font-weight: $font-weight-bolder;
  font-size: $h2-font-size;

  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
}

h2 {
  line-height: 1;
  font-weight: $font-weight-bolder;
  font-size: $h2-font-size-sm;

  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}
