<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>La plateforme de l'inclusion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="title" content="La plateforme de l'inclusion">
    <meta name="description" content="La Plateforme dédiée à l'inclusion. Découvrez les outils qui portent l'inclusion au coeur de leur service. A chaque service, son objectif.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://inclusion.beta.gouv.fr">
    <meta property="og:title" content="La plateforme de l'inclusion">
    <meta property="og:description" content="La Plateforme dédiée à l'inclusion. Découvrez les outils qui portent l'inclusion au coeur de leur service. A chaque service, son objectif.">
    <meta property="og:image" content="https://inclusion.beta.gouv.fr/images/logo-plateforme-inclusion-meta.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://inclusion.beta.gouv.fr/">
    <meta property="twitter:title" content="La plateforme de l'inclusion">
    <meta property="twitter:description" content="La Plateforme dédiée à l'inclusion. Découvrez les outils qui portent l'inclusion au coeur de leur service. A chaque service, son objectif.">
    <meta property="twitter:image" content="https://inclusion.beta.gouv.fr/images/logo-plateforme-inclusion-meta.png">

    <link rel="shortcut icon" href="./images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="./stylesheets/app.css" />
  </head>

  <body id="top" class="l-hp">
    <nav role="navigation" aria-label="Accès rapide" class="sr-only">
      <ul>
          <li><a href="#nav-primary">Aller au menu principal</a></li>
          <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <%- include('./_sections/header', {pathDepth: '.'}) %>

    <main id="main" role="main" class="s-main" tabindex="-1">

      <section class="s-plateforme">
        <div class="s-plateforme__container container">
          <div class="s-plateforme__row row">
            <div class="s-plateforme__col s-plateforme__col--article col-12 col-lg-4">
              <article>
                <h1 class="h1-hero font-weight-normal">La <br class="d-none d-lg-inline"><strong>Plateforme</strong> dédiée à <br class="d-none d-lg-inline"><strong>l'inclusion</strong></h1>
                <figure>
                  <img src="./images/plateforme-visuel-01.png" class="img-fluid img-fitcover" alt="">
                </figure>
                <p>Découvrez les outils qui portent l'inclusion au coeur de leur service. A chaque service, son objectif.</p>
              </article>
            </div>
            <div class="s-plateforme__col s-plateforme__col--grid col-12 col-lg-8">
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <p class="s-plateforme__col__title"><img src="./images/logo-emplois.svg" height="80" alt="Les emplois de l'inclusion"></p>
                  <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation <strong>d'employeurs solidaires</strong> avec des <strong>candidats éloignés de l'emploi</strong> par le biais de tiers (prescripteurs habilités, orienteurs) ou en autoprescription.</p>
                </div>
                <p class="s-plateforme__col__cta">
                  <a href="https://emplois.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-link btn-ico stretched-link" title="Accéder aux emplois de l'inclusion, service numérique de délivrance des PASS IAE">
                    <span>Accéder aux emplois</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <p class="s-plateforme__col__title"><img src="./images/logo-communaute.svg" height="80" alt="La communauté de l'inclusion"></p>
                  <p>La communauté de l'inclusion est un espace d'<strong>échanges</strong>, de <strong>rencontres</strong> et de <strong>partages</strong> entre les acteurs et actrices de l'insertion. Il est possible de découvrir des bonnes pratiques, des nouveautés, de l'actualité, de poser ses questions.</p>
                </div>
                <p class="s-plateforme__col__cta">
                  <a href="https://communaute.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-link btn-ico stretched-link" title="Accéder à la communauté de l'inclusion, espace d'échanges, de rencontres et de partages entre les acteurs et actrices de l'insertion.">
                    <span>Accéder à la communauté</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <p class="s-plateforme__col__title"><img src="./images/logo-marche.svg" height="80" alt="Le marché de l'inclusion"></p>
                  <p>Vous souhaitez inscrire vos achats dans une démarche inclusive ? Le marché de l'inclusion est un service numérique permettant d'accéder à l'annuaire des <strong>entreprises sociales inclusives</strong> proposant des produits ou services inclusifs.</p>
                </div>
                <p class="s-plateforme__col__cta">
                  <a href="https://lemarche.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-link btn-ico stretched-link" title="Accéder au marché de l'inclusion, un service numérique permettant d'accéder à l'annuaire des entreprises sociales inclusives.">
                    <span>Accéder au marché</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <p class="s-plateforme__col__title"><img src="./images/logo-pilotage.svg" height="80" alt="Le pilotage de l'inclusion"></p>
                  <p>Le pilotage de l'inclusion a pour objectif de réduire la charge administrative (au niveau de la collecte et/ou du traitement des données) tout en maintenant/améliorant le niveau d'information grâce à des tableaux de bord.</p>
                </div>
                <p class="s-plateforme__col__cta">
                  <a href="https://pilotage.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-link btn-ico stretched-link" title="Accéder au pilotage de l'inclusion, un service ayant pour objectif de réduire la charge administrative.">
                    <span>Accéder au pilotage</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="s-spie">
        <div class="s-spie__container container">
          <div class="s-spie__row row">
            <div class="s-spie__col s-spie__col--spie col-12 col-lg-8 d-flex align-items-stretch">
              <article class="d-flex flex-column justify-content-between h-100 w-100">
                <div>
                  <h2 class="h1-hero font-weight-normal"><strong>SPIE</strong></h2>
                  <h3 class="h1 font-weight-normal">Service public de l’insertion et de l’emploi</h3>
                  <p>À l’occasion de la présentation de la stratégie nationale de prévention et de lutte contre la pauvreté, le 13 septembre 2018, le Président de la République a fixé une ambition claire à l’ensemble des acteurs impliqués dans les politiques d’insertion.</p>
                  <p>Au-delà des mesures prévues et financées dans le cadre de cette stratégie, il s’agit plus largement de repenser en profondeur l’organisation de l’ensemble de nos politiques en la matière en visant un objectif majeur :</p>
                  <p>La création d’un véritable service public de l’insertion et de l’emploi, dont l’État serait le garant.</p>
                </div>
                <div>
                  <div class="d-lg-flex align-items-end">
                    <p class="s-spie__col__cta">
                      <a href="https://communaute.inclusion.beta.gouv.fr/c/spie/49" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                        <span>En savoir plus sur le SPIE</span>
                        <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="s-spie__col s-spie__col--ambition col-12 col-lg-4 d-flex align-items-stretch">
              <article class="d-flex flex-column justify-content-between h-100 w-100">
                <div>
                  <h3 class="h1 font-weight-normal">L'insertion <br class="d-none d-lg-inline">par l'activité économique</h3>
                  <h2 class="h1-hero"><strong>Ambition</strong></h2>
                  <p>Le Pacte Ambition IAE a été réalisé pour que la France devienne une société plus inclusive. Son objectif de développer les passerelles entre acteurs de l’IAE et entreprises sociales inclusives pour passer de 140 000 personnes en parcours d’insertion à 240 000 d’ici 2022.
                    D'après Thibault Guilluy : "Il n’y a pas de société prospère et durable qui puisse tolérer en son sein une exclusion persistante"</p>
                </div>
                <div>
                  <p class="s-spie__col__cta">
                    <a href="https://travail-emploi.gouv.fr/IMG/pdf/pacte_d_ambition_iae_sept_2019_synthese.pdf" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                      <span>Voir le Pacte Ambition IAE</span>
                      <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                    </a>
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-infos">
        <div class="s-infos__container container">
          <div class="s-infos__row row">
            <div class="s-infos__col s-infos__col--article col-12 col-lg-4">
              <article>
                <h2 class="h1-hero"><strong>Dernières</strong> <br class="d-none d-lg-inline"><strong>infos</strong></h2>
                <h3 class="h1 font-weight-normal">Les dernières actualités de la Plateforme</h3>
                <p class="s-infos__col__cta">
                  <a href="https://www.linkedin.com/company/la-plateforme-de-l-inclusion/posts/?feedView=all" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                    <span>Voir plus d'actualités</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
                <ul>
                  <li>
                    <img src="./images/logo-linkedin.svg" alt="">
                    <a href="https://www.linkedin.com/company/inclusion-gouv" rel="noopener" target="_blank" title="Accédez à notre page LinkedIn (lien externe)" class="ml-2 text-decoration-none">Page Linkedin</a>
                  </li>
                  <li>
                    <img src="./images/logo-youtube.svg" alt="">
                    <a href="https://www.youtube.com/channel/UC06_yIYfzAiDOMTemH9q3OQ" rel="noopener" target="_blank" title="Accédez à notre page Youtube (lien externe)" class="ml-2 text-decoration-none">Page Youtube</a>
                  </li>
                  <li>
                    <img src="./images/logo-twitter.svg" alt="">
                    <a href="https://twitter.com/inclusion_gouv" rel="noopener" target="_blank" title="Accédez à notre page Twitter (lien externe)" class="ml-2 text-decoration-none">Page Twitter</a>
                  </li>
                  <li>
                    <img src="./images/logo-instagram.svg" alt="">
                    <a href="https://www.instagram.com/inclusion_gouv/" rel="noopener" target="_blank" title="Accédez à notre page Instagram (lien externe)" class="ml-2 text-decoration-none">Page Instagram</a>
                  </li>
                </ul>
              </article>
            </div>
            <div class="s-infos__col s-infos__col--embed col-12 col-lg-4">
              <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6915199666296918016" allowfullscreen="" title="Publication intégrée 01"></iframe>
            </div>
            <div class="s-infos__col s-infos__col--embed col-12 col-lg-4">
              <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6894548959751127040" allowfullscreen="" title="Publication intégrée 02"></iframe>
            </div>
          </div>
        </div>
      </section>

      <section class="s-emplois">
        <div class="s-emplois__container container">
          <div class="s-emplois__row row">
            <div class="s-emplois__col s-emplois__col--figure d-none d-lg-inline-flex col-lg-5 d-lg-flex align-items-center px-4">
              <figure>
                <div>
                  <div>
                    <span>
                      <strong>199 384</strong>
                      candidatures acceptées
                    </span>
                  </div>
                  <div>
                    <span>
                      <strong>5 958</strong>
                      organisations de prescripteurs
                    </span>
                  </div>
                  <div>
                    <span>
                      <strong>4 618</strong>
                      employeurs
                    </span>
                  </div>
                </div>
                <img src="./images/emplois-visuel-01.jpg" class="img-fluid img-fitcover" alt="" loading="lazy">
                <figcaption>
                  <img src="./images/logo-emplois.svg" height="50" alt="Les emplois de l'inclusion">
                </figcaption>
              </figure>
            </div>
            <div class="s-emplois__col s-emplois__col--article col-12 col-lg-7">
              <article>
                <h2 class="h1-hero"><strong>Les emplois</strong></h2>
                <h3 class="h1 font-weight-normal">Découvrez les offres d'emploi <br class="d-none d-lg-inline">des employeurs solidaires</h3>
                <figure class="d-block d-lg-none">
                  <div>
                    <div>
                      <span>
                        <strong>199 384</strong>
                        candidatures acceptées
                      </span>
                    </div>
                    <div>
                      <span>
                        <strong>5 958</strong>
                        organisations de prescripteurs
                      </span>
                    </div>
                    <div>
                      <span>
                        <strong>4 618</strong>
                        employeurs
                      </span>
                    </div>
                  </div>
                  <img src="./images/emplois-visuel-01.jpg" class="img-fluid img-fitcover" alt="" loading="lazy">
                  <figcaption>
                    <img src="./images/logo-emplois.svg" height="50" alt="Les emplois de l'inclusion'">
                  </figcaption>
                </figure>
                <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation d'employeurs solidaires avec des candidats éloignés de l'emploi par le biais de tiers (prescripteurs habilités, orienteurs) ou en autoprescription.</p>
                <p class="s-emplois__col__cta">
                  <a href="https://emplois.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                    <span>Accéder aux emplois</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-communaute">
        <div class="s-communaute__container container">
          <div class="s-communaute__row row">
            <div class="s-communaute__col s-communaute__col--article col-12 col-lg-7 d-flex align-items-center">
              <article>
                <h2 class="h1-hero"><strong>La Communauté</strong></h2>
                <h3 class="h1 font-weight-normal">Échangez entre <br class="d-none d-lg-inline">professionnels de l’inclusion</h3>
                <figure class="d-block d-lg-none">
                  <div>
                    <div>
                      <span>
                        <strong>7 500</strong>
                        membres
                      </span>
                    </div>
                    <div>
                      <span>
                        <strong>2 226</strong>
                        réponses
                      </span>
                    </div>
                  </div>
                  <img src="./images/communaute-visuel-01.jpg" class="img-fluid img-fitcover" alt="" loading="lazy">
                  <figcaption>
                    <img src="./images/logo-communaute.svg" height="50" alt="Le marché de l'inclusion">
                  </figcaption>
                </figure>
                <ol>
                  <li>
                    <ul>
                      <li>Ressourcerie</li>
                      <li>Outils et bonnes pratiques</li>
                      <li>Questions/ réponses</li>
                      <li>Actualités et informations</li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>Espace d'échanges</li>
                      <li>Nouveautés</li>
                      <li>Appels à contribution</li>
                      <li>Formations</li>
                    </ul>
                  </li>
                </ol>
                <p class="s-communaute__col__cta">
                  <a href="https://communaute.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                    <span>Accéder à la communauté</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
              </article>
            </div>
            <div class="s-communaute__col s-communaute__col--figure d-none d-lg-inline-flex col-lg-5 d-lg-flex align-items-center px-4">
              <figure>
                <div>
                  <div>
                    <span>
                      <strong>7 500</strong>
                      membres
                    </span>
                  </div>
                  <div>
                    <span>
                      <strong>2 226</strong>
                      réponses
                    </span>
                  </div>
                </div>
                <img src="./images/communaute-visuel-01.jpg" class="img-fluid img-fitcover" alt="" loading="lazy">
                <figcaption>
                  <img src="./images/logo-communaute.svg" height="50" alt="La communauté de l'inclusion'">
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section class="s-nous">
        <div class="s-nous__container container">
          <div class="s-nous__row row no-gutters">
            <div class="s-nous__col s-nous__col--shadow col-12">
              <div class="s-nous__row row">
                <div class="s-nous__col s-nous__col--figure col-12 col-lg-4 d-flex align-items-center">
                  <figure>
                    <img src="./images/nous-visuel-01.jpg" class="img-fluid img-fitcover" alt="" loading="lazy">
                  </figure>
                </div>
                <div class="s-nous__col s-nous__col--article col-12 col-lg-8 d-flex align-items-center">
                  <article>
                    <h2 class="h1-hero"><strong>La Plateforme de l'inclusion, quésaco ?</strong></h2>
                    <p>La Plateforme de l’inclusion et ses services ont été conçus dans le cadre du Pacte Ambition IAE, un dispositif d’État pour l’Insertion par l’Activité Économique des personnes éloignées de l’emploi en raison de difficultés sociales, professionnelles, ou de santé</p>
                    <h3 class="h1 font-weight-normal">L'équipe est là pour vous !</h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="s-demonstration">
        <div class="s-demonstration__container container">
          <div class="s-demonstration__row row">
            <div class="s-demonstration__col s-demonstration__col--figure col-12 col-lg-6 d-flex align-items-center px-4">
              <figure>
                <a href="https://www.youtube.com/channel/UC06_yIYfzAiDOMTemH9q3OQ" rel="noopener" target="_blank"><img src="./images/demonstration-visuel-01.jpg" class="img-fluid img-fitcover" alt="Voir la démonstration vidéo" loading="lazy"></a>
              </figure>
            </div>
            <div class="s-demonstration__col s-demonstration__col--article col-12 col-lg-6 d-flex align-items-center">
              <article>
                <h2 class="h1-hero"><strong>Démonstration</strong></h2>
                <h3 class="h1 font-weight-normal">Les emplois de l'inclusion</h3>
                <p>
                  Nos équipes organisent régulièrement des rendez-vous en visio-conférence afin de vous faire découvrir nos services et de vous proposer un moment d'échanges et de réponses à vos questions.
                </p>
                <p class="s-demonstration__col__cta">
                  <a href="https://www.youtube.com/channel/UC06_yIYfzAiDOMTemH9q3OQ" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                    <span>Voir toutes les vidéos</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-evenements">
        <div class="s-evenements__container container">
          <div class="s-evenements__row row">
            <div class="s-evenements__col col-12">
              <iframe src="https://app.livestorm.co/itou/upcoming?limit=3" title="Événements La Plateforme de l'inclusion | Livestorm"></iframe>
            </div>
          </div>
        </div>
      </section>

      <section class="s-pilotage">
        <div class="s-pilotage__container container">
          <div class="s-pilotage__row row">
            <div class="s-pilotage__col s-pilotage__col--figure d-none d-lg-inline-flex col-lg-5 d-lg-flex align-items-center px-4">
              <figure>
                <div>
                  <div>
                    <span>
                      <strong>32</strong>
                      tableaux de<br>bord
                    </span>
                  </div>
                  <div>
                    <span>
                      <strong>258</strong>
                      indicateurs et graphiques
                    </span>
                  </div>
                </div>
                <img src="./images/pilotage-visuel-01.jpg" class="img-fluid img-fitcover" alt="" loading="lazy">
                <figcaption>
                  <img src="./images/logo-pilotage.svg" height="50" alt="Le pilotage de l'inclusion">
                </figcaption>
              </figure>
            </div>
            <div class="s-pilotage__col s-pilotage__col--article col-12 col-lg-7 d-flex align-items-center">
              <article>
                <h2 class="h1-hero"><strong>Le pilotage</strong></h2>
                <h3 class="h1 font-weight-normal">Optimisez vos reportings sur l'IAE</h3>
                <figure class="d-block d-lg-none">
                  <div>
                    <div>
                      <span>
                        <strong>32</strong>
                        tableaux de<br>bord
                      </span>
                    </div>
                    <div>
                      <span>
                        <strong>258</strong>
                        indicateurs et graphiques
                      </span>
                    </div>
                  </div>
                  <img src="./images/pilotage-visuel-01.jpg" class="img-fluid img-fitcover" alt="" loading="lazy">
                  <figcaption>
                    <img src="./images/logo-pilotage.svg" height="50" alt="Le marché de l'inclusion'">
                  </figcaption>
                </figure>
                <p>Nous construisons et partageons des tableaux de bord permettant de mieux comprendre et analyser l'inclusion dans l'emploi, les personnes qui en bénéficient et les structures qui les accompagnent.</p>
                <p class="s-pilotage__col__cta">
                  <a href="https://pilotage.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                    <span>Accéder au pilotage</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-marche">
        <div class="s-marche__container container">
          <div class="s-marche__row row">
            <div class="s-marche__col s-marche__col--article col-12 col-lg-7 d-flex align-items-center">
              <article>
                <h2 class="h1-hero"><strong>Le Marché</strong></h2>
                <h3 class="h2 font-weight-normal">Trouvez votre prestation <br class="d-none d-lg-inline">socialement engagée et locale</h3>
                <figure class="d-block d-lg-none">
                  <div>
                    <div>
                      <span>
                        <strong>8 341</strong>
                        entreprises
                      </span>
                    </div>
                    <div>
                      <span>
                        <strong>153</strong>
                        secteurs<br>d'activité
                      </span>
                    </div>
                  </div>
                  <img src="./images/marche-visuel-01.jpg" class="img-fluid img-fitcover" alt="" loading="lazy">
                  <figcaption>
                    <img src="./images/logo-marche.svg" height="50" alt="Le marché de l'inclusion">
                  </figcaption>
                </figure>
                <p>Vous souhaitez inscrire vos achats dans une démarche inclusive et participer au développement économique et social de votre territoire ? <br class="d-none d-lg-inline">En quelques clics, demandez un devis sur un produit ou un service inclusif.</p>
                <p class="s-marche__col__cta">
                  <a href="https://lemarche.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
                    <span>Accéder au marché</span>
                    <i class="ri-arrow-right-up-line ri-lg" aria-hidden="true"></i>
                  </a>
                </p>
              </article>
            </div>
            <div class="s-marche__col s-marche__col--figure d-none d-lg-inline-flex col-lg-5 d-lg-flex align-items-center px-4">
              <figure>
                <div>
                  <div>
                    <span>
                      <strong>8 341</strong>
                      entreprises
                    </span>
                  </div>
                  <div>
                    <span>
                      <strong>153</strong>
                      secteurs<br>d'activité
                    </span>
                  </div>
                </div>
                <img src="./images/marche-visuel-01.jpg" class="img-fluid img-fitcover" alt="" loading="lazy">
                <figcaption>
                  <img src="./images/logo-marche.svg" height="50" alt="Le marché de l'inclusion">
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>

    </main>

    <%- include('./_sections/footer', {pathDepth: '.'}) %>

    <script src="./javascripts/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@1.9.3/tarteaucitron.js"></script>
    <script type="text/javascript">
      tarteaucitron.init({
      "privacyUrl": "", /* Privacy policy url */
      "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
      "cookieName": "tarteaucitron", /* Cookie name */
      "orientation": "bottom", /* Banner position (top - bottom) */
      "groupServices": false, /* Group services by category */
      "showAlertSmall": false, /* Show the small banner on bottom right */
      "cookieslist": false, /* Show the cookie list */
      "closePopup": false, /* Show a close X on the banner */
      "showIcon": true, /* Show cookie icon to manage cookies */
      //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
      "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */
      "adblocker": false, /* Show a Warning if an adblocker is detected */
      "DenyAllCta" : true, /* Show the deny all button */
      "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
      "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
      "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
      "removeCredit": true, /* Remove credit link */
      "moreInfoLink": true, /* Show more info link */
      "useExternalCss": true, /* If false, the tarteaucitron.css file will be loaded */
      "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
      //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
      "readmoreLink": "", /* Change the default readmore link */
      "mandatory": true, /* Show a message about mandatory cookies */
      });
    </script>
    <script type="text/javascript">
      tarteaucitron.user.googleFonts = ['Roboto', 'Covered By Your Grace'];
      (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
    </script>
  </body>

</html>
