.s-plateforme {
  position: relative;
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 7);
  }

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__col {
    &--article {
      h1 {
        @extend .mb-4;
      }

      figure {
        @extend .mb-4;
      }

      p {
        @extend .mb-5;

        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
        }
      }
    }

    &--grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0;
      grid-row-gap: map-get($spacers, 5);

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: map-get($spacers, 5);
      }

      > div {
        @extend .px-3;
        @extend .pt-3;
        @extend .pb-2;
        position: relative;
        border-radius: $border-radius-lg;
        border: 1px solid $border-color;
        transition: $transition-base;

        &:first-child {
          border-bottom: 10px solid $emploi;
        }

        &:nth-child(2) {
          border-bottom: 10px solid $communaute;
        }

        &:nth-child(3) {
          border-bottom: 10px solid $marche;
        }

        &:nth-child(4) {
          border-bottom: 10px solid $pilotage;
        }
      }
    }

    &__title {

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }

      img {

        @include media-breakpoint-up(lg) {
          transform: translate(-35px, -30px);
        }
      }
    }

    &__cta {
      @extend .mb-0;
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: right;
      }

      a {
        text-decoration: none !important;
      }
    }
  }
}
